
.form-submission{
    width: 50% !important;
    margin: auto !important;
}

.form-control {
    width: 100% !important;
}

.right-arrow {
    display: none !important;
}
.btn-prev{
    background-color: black !important;
    color: #fff !important;
    font-weight: 700 !important;
}
.btn-next{
    background-color: black !important;
    color: #fff !important;
    font-weight: 700 !important;
}
.submit-btn{
    background-color: black !important;
    color: #fff !important;
    font-weight: 700 !important;
}
.question-arrow-actions{
    display: flex !important;
    justify-content: baseline !important;
    align-items: center !important;
    margin-bottom: 20px !important;
   
}
.main-body .progress-bar{
    padding: 0px !important;
    margin: 0px !important;
    overflow:  hidden !important;
}




@media screen and (min-width:300px) and (max-width:480px) {
    .form-submission {
        width: 100% !important;
        margin: auto !important;
    }
    .btn-prev{
        display: none !important;
    }
    .btn-next{
        width: 100% !important;
        background-color: black !important;
        color: #fff !important;
        font-weight: 700 !important;
    }
    .submit-btn{
        width: 100% !important;
        background-color: black !important;
        color: #fff !important;
        font-weight: 700 !important;
    }
    .right-arrow {
        display: block !important;
    }
    .question-arrow-actions{
        display: flex !important;
        justify-content: baseline !important;
        align-items: center !important;
        margin-bottom: 20px !important;
        margin-left: 30px !important;
    }
    .question-arrow-actions .right-arrow-icon{
        font-size: 50px !important;
        color: red !important;
    }
    .main-body .progress-bar{
        padding: 0px !important;
        margin: 0px !important;
        overflow:  hidden !important;
    }
    .application-form form .form-title{
        margin-top: 40px !important;
        color: #fff !important;
      }
    .application-form form input{
        width: 100%;
        height: 35px;
        margin-bottom: 20px !important;
      }

      #userAccountSetupForm .form-step .form_check input{
        border: 2px solid rgb(233, 231, 231) !important;
        width: 100% !important;
        padding: 10px;
        background-color: rgb(255, 254, 254);
        border-radius: 5px;
    }
    
}