{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}


<div id="smooth-wrapper">
    <div id="smooth-content">
      <main>

        <!-- Hero area start -->
        <section class="hero__about">
          <div class="container g-0 line">
            <span class="line-3"></span>
            <div class="row">
              <div class="col-xxl-12">
                <div class="hero__about-content">
                  <h1 class="hero-title animation__word_come" style="font-size: 40px;">Magsmen is a brand centric consulting firm. We use qualitative research and creative
                    strategies to deliver outstanding results for your brand to stand out and create a
                    legacy.</h1>
                  <div class="hero__about-info">
                    <div class="hero__about-btn">
                      <div id="btn_wrapper">
                        <a href="/service/" class="wc-btn-primary btn-hover btn-item"><span></span> Trends & <br>
                          technology
                          <i class="fa-solid fa-arrow-right"></i></a>
                      </div>
                    </div>
                    <div class="hero__about-text title-anim">
                      <p></p>
                    </div>Magsmen is a visionary team that works on global strategies, insights design and
                    technology partnering with brands, striving for true customer centricity and relevance in a
                    digital world. By leveraging our expertise in making brands stand out, we provide
                    customer-centric business models and experiences that build great reputation for the
                    brands, that bring about a transformational relationship with the people they serve.
                    <!-- <div class="hero__about-award">
                      <img src="{% static 'assets/imgs/about/award.png' %}" alt="Best Studio Award">
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="row hero__about-row">
              <div class="col-xxl-12">
                <div class="hero__about-video">
                  <video loop muted autoplay playsinline>
                    <source src="{% static 'home/images/magsmen-home-page-show-reel-building-brands -company-introduction-India.mp4' %}" type="video/mp4">
                  </video>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Hero area end -->


        <!-- Story area start -->
        <section class="story__area">
          <div class="container g-0 line pt-140">
            <span class="line-3"></span>
            <div class="sec-title-wrapper">
              <div class="from-text">from <span>1990</span></div>

              <div class="row">
                <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                  <h2 class="sec-sub-title title-anim"></h2>
                  <h3 class="sec-title title-anim">Our story</h3>
                </div>
                <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7">
                  <div class="story__text">
                    <p>At Magsmen, we don't simply tell stories - we make them. Drawing inspiration from the word
                      'Magsman', meaning storytelling, our team works to craft impactful solutions for your brand's
                      most pressing challenges and help you build a legacy in your line of industry. With a solution
                      based approach, we guide you on your journey towards establishing yourself as an
                      influential entity!
                    </p>
                    <p></p>
                  </div>Since the foundations of Magsmen have been built, we’ve spent the last 2 years
                  understanding how various brands over many industries work, understanding their
                  capabilities, allowing us to make a unison of creativity and technology to build big brands.
                  That’s our special sauce - using a practical based understanding of what customers need
                  from your brand and making them experience what they can’t live without
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                <div class="story__img-wrapper">
                  <img src="{% static 'assets/imgs/about/magsmen-about-images-300x450.png' %}" alt="Story Thumbnail" class="w-100">
                </div>
              </div>
              <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                <div class="story__img-wrapper img-anim">
                  <img src="{% static 'assets/imgs/about/magsmen-about-image-520x700.jpg' %}" alt="Story Thumbnail" data-speed="auto">
                </div>
              </div>
              <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                <div class="story__img-wrapper">
                  <img src="{% static 'assets/imgs/about/magsmen-about-images-230x140.png' %}" alt="Story Thumbnail">
                  <img src="{% static 'assets/imgs/about/magsmen-about-images-410x330.png' %}" alt="Story Thumbnail">
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Story area end -->


        <!-- Counter area start -->
        <section class="counter__area">
          <div class="container g-0 line pb-140 pt-140">
            <span class="line-3"></span>

            <div class="row">
              <div class="col-xxl-12">
                <div class="counter__wrapper-2 counter_animation">
                  <div class="counter__item-2 counter__anim">
                    <h2 class="counter__number">25k</h2>
                    <p>Project <br>completed</p>
                    <span class="counter__border"></span>
                  </div>
                  <div class="counter__item-2 counter__anim">
                    <h2 class="counter__number">8k</h2>
                    <p>Happy <br>customers</p>
                    <span class="counter__border"></span>
                  </div>
                  <div class="counter__item-2 counter__anim">
                    <h2 class="counter__number">15</h2>
                    <p>Years <br>experiences</p>
                    <span class="counter__border"></span>
                  </div>
                  <div class="counter__item-2 counter__anim">
                    <h2 class="counter__number">98</h2>
                    <p>Awards <br>achievement</p>
                    <span class="counter__border"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Counter area end -->


        <!-- Team area start -->
        <section class="team__area pt-140 pb-140">
          <div class="sec-title-wrapper">
            <h2 class="sec-sub-title title-anim">Our Team</h2>
            <h3 class="sec-title title-anim">How we work</h3>
          </div>


          <div class="swiper team__slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide team__slide">
                <a href="team-details.html">
                  <img src="{% static 'assets/imgs/about/magsmen-team-sandeep-image-433x550.jpg' %}" alt="Team Member">
                  <div class="team__info">
                    <h4 class="team__member-name">Sandeep</h4>
                    <h5 class="team__member-role">Founder & CEO</h5>
                  </div>
                </a>
              </div>

              <div class="swiper-slide team__slide">
                <a href="team-details.html">
                  <img src="{% static 'assets/imgs/about/magsmen-team-images-1-433x550.jpg' %}" alt="Team Member">
                  <div class="team__info">
                    <h4 class="team__member-name">Jassica Oliver</h4>
                    <h5 class="team__member-role">Researcher</h5>
                  </div>
                </a>
              </div>

              <div class="swiper-slide team__slide">
                <a href="team-details.html">
                  <img src="{% static 'assets/imgs/about/magsmen-team-images-2-433x550.jpg' %}" alt="Team Member">
                  <div class="team__info">
                    <h4 class="team__member-name">Daniyel Adamson</h4>
                    <h5 class="team__member-role">Digital Marketer</h5>
                  </div>
                </a>
              </div>

              <div class="swiper-slide team__slide">
                <a href="team-details.html">
                  <img src="{% static 'assets/imgs/about/magsmen-team-images-3-433x550.jpg' %}" alt="Team Member">
                  <div class="team__info">
                    <h4 class="team__member-name">Hardiya Kethrine</h4>
                    <h5 class="team__member-role">Lead Designer</h5>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </section>
        <!-- Team area end -->



        <!-- Brand area start -->
        <section class="brand__area">
          <div class="container g-0 line pt-140 pb-140">
            <span class="line-3"></span>
            <div class="row g-0">
              <div class="col-xxl-12">
                <div class="sec-title-wrapper">
                  <h2 class="sec-sub-title title-anim">Internation Brands</h2>
                  <h3 class="sec-title title-anim">We are happy to work with global <br>
                    largest brands</h3>
                </div>
              </div>

              <div class="brand__list">
                <div class="brand__item fade_bottom">
                  <img src="{% static 'assets/imgs/brand/1.png' %}" alt="Brand Logo">
                </div>
                <div class="brand__item fade_bottom">
                  <img src="{% static 'assets/imgs/brand/2.png' %}" alt="Brand Logo">
                </div>
                <div class="brand__item fade_bottom">
                  <img src="{% static 'assets/imgs/brand/3.png' %}" alt="Brand Logo">
                </div>
                <div class="brand__item fade_bottom">
                  <img src="{% static 'assets/imgs/brand/4.png' %}" alt="Brand Logo">
                </div>
                <div class="brand__item fade_bottom">
                  <img src="{% static 'assets/imgs/brand/5.png' %}" alt="Brand Logo">
                </div>
                <div class="brand__item fade_bottom">
                  <img src="{% static 'assets/imgs/brand/6.png' %}" alt="Brand Logo">
                </div>
                <div class="brand__item fade_bottom">
                  <img src="{% static 'assets/imgs/brand/3.png' %}" alt="Brand Logo">
                </div>
                <div class="brand__item fade_bottom">
                  <img src="{% static 'assets/imgs/brand/4.png' %}" alt="Brand Logo">
                </div>
                <div class="brand__item fade_bottom">
                  <img src="{% static 'assets/imgs/brand/5.png' %}" alt="Brand Logo">
                </div>
                <div class="brand__item fade_bottom">
                  <img src="{% static 'imgs/brand/6.png' %}" alt="Brand Logo">
                </div>
                <div class="brand__item fade_bottom">
                  <img src="{% static 'assets/imgs/brand/1.png' %}" alt="Brand Logo">
                </div>
                <div class="brand__item fade_bottom">
                  <img src="{% static 'assets/imgs/brand/2.png' %}" alt="Brand Logo">
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Brand area end -->



        <!-- CTA area start -->
        <section class="cta__area">
          <div class="container line pb-110 dark-p">
            <div class="line-3"></div>
            <div class="row">
              <div class="col-xxl-12">
                <div class="cta__content">
                  <p class="cta__sub-title">Work with us</p>
                  <h2 class="cta__title title-anim">We would love to hear more about your project</h2>
                  <div id="btn_wrapper">
                    <a href="/contact/" class="wc-btn-primary btn-hover btn-item"><span></span>Let’s talk us <i
                        class="fa-solid fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- CTA area end -->

      </main>

{% endblock %}