{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}



<div id="smooth-wrapper">
    <div id="smooth-content">
      <main>

        <!-- Development area start -->
        <section class="development__area">
          <div class="container g-0 line pt-130 pb-150">
            <div class="line-3"></div>
            <div class="row">
              <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                <div class="sec-title-wrapper">
                  <h2 class="sec-title animation__char_come p-3">Brand Expresso Service
                  </h2>
                </div>
              </div>
              <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7">
                <div class="development__wrapper">
                  <div class="development__content1 p-3">
                    <p>Revitalize your brand in just 90 days with Brand Expresso—transforming identity, boosting presence, and standing out boldly in the market!</p>
                  </div>
                
                </div>
              </div>
              <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                <div class="development__img d-flex justify-content-center align-items-center">
                  <div class="hero__about-video px-3">
                    <video loop muted autoplay playsinline>
                      <source src="{% static 'assets/imgs/service/service/brandexpresso.mp4' %}"  type="video/mp4" alt="video not display">
                    </video>
                  </div>
                  <!-- <img src="{%static 'assets/imgs/services-img/magsmen-brand-consulting-service-image-850x400.png' %}" alt="Development Image" data-speed="auto"> -->
                </div>
              </div>
              <!-- <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                <div class="development__img">
                  <img src="{% static 'assets/imgs/thumb/dev-2.jpg' %}" alt="Development Image">
                </div>
              </div> -->
            </div>
          </div>
        </section>
        <!-- Development area end -->

             <!-- Service area start -->
             
        <section class="portfolio__service service-v5 pt-140 pb-140">
          <div class="container">
            <div class="portfolio__service-list">
              <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                  <div class="portfolio__service-item">
                    
                      <h3 class="ps-title">Initial Consultation and Assessment:</h3>
                      <p >We begin with a comprehensive consultation to understand your brand's current status, challenges, and goals.
                      </p>
                    
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                  <div class="portfolio__service-item">
                   
                      <h3 class="ps-title">Customized Strategy Development:  </h3>
                      <p>Based on the assessment, we craft a tailored strategy to elevate your brand's identity, market positioning, and customer engagement.
                      </p>
                   
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                  <div class="portfolio__service-item">
                   
                      <h3 class="ps-title">Implementation and Execution:</h3>
                      <p style="margin-top: -10px;">This phase involves putting the strategy into action, which includes redesigning brand elements, refining messaging, and optimizing marketing channels.
                      </p>
                   
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                  <div class="portfolio__service-item">
                   
                      <h3 class="ps-title">Monitoring and Optimization:</h3>
                      <p>Throughout the 90 days, we closely monitor the performance metrics, gather feedback, and make necessary adjustments to enhance effectiveness.                      
                      </p>
                    
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                  <div class="portfolio__service-item">
                    
                      <h3 class="ps-title">Evaluation and Reporting:</h3>
                      <p>At the end of the 90 days, we provide a detailed evaluation report highlighting the transformation achieved, key insights gained, and recommendations for ongoing brand success.
                      </p>
                   
                  </div>
                </div>
                <!-- <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                  <div class="portfolio__service-item">
                   
                      <h3 class="ps-title">Maintaining Brand voice & Messaging</h3>
                      <p>Bring your brand story to life with unique and authentic language tailored by audience,
                        channel, and different stages of your marketing funnel.
                      </p>
                    
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                  <div class="portfolio__service-item">
                   
                      <h3 class="ps-title"> Brand Positioning</h3>
                      <p style="margin-top:-18px">Understanding a 360° view of your brand’s current state and future potential to identify the
                        critical drivers of success. Understand product and market realities,competitive landscape,
                        cultural trends and consumer needs...
                      </p>
                   
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                  <div class="portfolio__service-item">
                    
                      <h3 class="ps-title">Brand Tracking</h3>
                      <p>We power your entire research system with a brand health tracker that delivers actionable
                        context that give and creates a more holistic brand tracking system.
                      </p>
                   
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </section>
           


       

      </main>

{% endblock %}