
<title>Magsmen | The Best Way to Increase Your Brand Growth</title>
<meta name="description" content="Magsmen is the best way to increase your brand growth. We offer brand consulting, Online brand management, and more. Contact us today and get a free audit for your brand">
<meta name="keywords" content="brand consultent">
{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}

  <div id="smooth-wrapper mt-5">
    <div id="smooth-content">
      <main>
        <!-- Hero area start -->
     <section class="hero__area-3">
          <div class="container">
            <div class="row">
              <div class="col-xxl-12">
                <div class="hero__inner-3">
                  <div class="sec-title-wrapper banner-text">
                    <h3 class="sec-title title-left pt-5">Turning Business </h3>
                    <h3 class="sec-title title-right pt-3 ">into brand
                     </h3>
                  </div>
                  <div class="hero__text-3 mt-5">
                  </div>
                  
                  <div class="scroll-down">
                    <button><img src="{% static 'assets/imgs/icon/arrow-down-sm.png' %}" alt="arrow icon"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="wrapper">
            <div class="video-info">
              <div class="video-intro">
                <input id="video_check" type="checkbox">
                <div class="intro-title" style="margin-top:-130px; ">
                  <h4 class="video-title">Watch <span>video</span></h4>
                  <h4 class="video-title close-video-title pt-4">Close <span></span></h4>
                </div>
                <div class="video">
                  <video src="{% static 'home/images/magsmen-homepage-video-1280x720.mp4' %}" loop muted autoplay playsinline></video>
                </div>

              </div>
            </div>
          </div>

          <div class="hero3-img-ani">
            <img src="{% static 'home/images/magsmen-banner-home-1195x350.png' %}" alt="Hero Image" class="hero3-img">
          </div>
        </section> 


        <!-- Brand area start -->
        <section class="brand__area">
          <div class="container pt-140 pb-140">
            <div class="row">
              <div class="col-lg-12">
                <div class="text-anim">
                  <h2 class="title-anim service__title-3 text-center">Helping your brand stand out from the noise</h2>
                    <p class="oneline-text">Get your brand its best expression to flourish with equal measures of flair, flamboyance, and
                      convention.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Brand area end -->


        <!-- About area start -->
        <section class="about__area-3">
          <div class="container pt-140 pb-110">
            <div class="row">
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 d-flex align-items-center">
                <div class="about__img">
                  <img src="{% static 'home/images/magsmen-home-about-new-image-550x760.png' %}" alt="About Thumbnail" data-speed="auto">
                </div>
              </div>

              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                <div class="sec-title-wrapper">
                  <h4 class="sec-title title-anim" style="font-size: 35px;">We are an award winning Brand Consulting firm, to help your brand reach the pinnacle!</h4>
                </div>
                <div class="sec-text-wrapper">
                  <div class="sec-text text-anim about-text">
                    <p >We’re neither a branding agency nor a digital marketing agency, but we’re an advisory
                    service that provides strategic guidance and direction for your brand and for its growth.
                    We have a team consisting of visionary minds that want to see your brand stand out.</p>
                    <p>One thing you need to know for your brand is that, even if you have a branding
                      agency/social media agencies taking care of your brand, you need brand consultants to
                      determine where and what to do in the right format to put the brand in the right direction,
                      and we’re the best you can come to.</p>
                    <p >We use competitive analysis, audience research, positioning strategy, key messaging,
                      and storytelling to help your brand to navigate the market landscape.</p>
                    <div id="btn_wrapper">
                      <a class="wc-btn-light btn-hover btn-item" href="/ourstory/"><span></span> Explore Us <i
                          class="fa-solid fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- About area end -->


        <!-- Service area start -->
        <section class="service__area service-v2 pt-110 pb-150" style="background-color: #FEFCFE; color:black">
            <div class="container">
              <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                  <div class="sec-title-wrapper wrap">
                    <h3 class="sec-title title-anim text-dark pb-3">Challenges we<br> solve for you</h3>
                  </div>
                </div>
                <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8">
                  <div class=" text-anim">
                    <p class="text-dark" style="font-size: 20px;">We understand that Consumer experience is higher than ever and the business landscape is
                      constantly evolving. We work with brands as a true strategic partner, applying rigorous standards
                      and creativity to unlock breakthrough insights about your brand, customer, category and the evolving
                      culture in which you operate!</p>
                  </div>
                </div>
              </div>
  
              <div class="service__list-wrapper" >
                <div class="row">
                  <div class="col-xxl-5 col-xl-5 col-lg-0 col-md-5">
                    <div class="d-flex justify-content-center aligen-items-center chalanges-video chalange-image">
                      <!-- <video loop muted autoplay playsinline >
                        <source src="{% static 'home/images/challenges we solve for you images.mp4' %}" type="video/mp4">
                      </video> -->
                      <img src="{% static 'home/images/magsmen-home-services-challenges-we-solve-for-you-images.gif' %}" alt="Service Image" class="" height="580">
                    </div>
                    <!-- <div class="service__img-wrapper">
                      <img src="{% static 'home/images/magsmen-service-280x320_2.gif' %}" alt="Service Image" class="service__img img-1 active">
                      <img src="{% static 'home/images/magsmen-service-280x320_2.gif' %}" alt="Service Image" class="service__img img-2">
                      <img src="{% static 'home/images/magsmen-service-280x320_2.gif' %}" alt="Service Image" class="service__img img-3">
                      <img src="{% static 'home/images/magsmen-service-280x320_2.gif' %}" alt="Service Image" class="service__img img-4">
                      <img src="{% static 'home/images/magsmen-service-280x320_2.gif' %}" alt="Service Image" class="service__img img-5">
  
                    </div> -->
                  </div>
                  <div class="col-xxl-7 col-xl-7 col-lg-12 col-md-7">
                    <div class="service__list">
                      <a href="/brandconsulting/">
                        <div class="service__item animation_home1_service" >
                          <div class="service__number text-dark text-dark"><span >01</span></div>
                          <div class="service__title-wrapper">
                            <h4 class="service__title text-dark">Brand Consulting</h4>
                          </div>
                          <div class="service__textm servicetext">
                            <p class="text-dark">We work with brands as a true strategic partner, applying rigorous standards and creative ingenuity
                              to build it up</p>
                          </div>
                          <div class="service__link1">
                            <p><i class="fa-solid fa-arrow-right"></i></p>
                          </div>
                        </div>
                      </a>
  
                      <a href="/personalbrand/">
                        <div class="service__item  animation_home1_service" data-service="2">
                          <div class="service__number text-dark text-dark"><span>02</span></div>
                          <div class="service__title-wrapper">
                            <h4 class="service__title text-dark">Personal Brand Consulting</h4>
                          </div>
                          <div class="service__text">
                            <p class="text-dark">We help an individual understand which platforms are best for their business and how to use
                              them to reach their target audience. Don’t just build a brand, we help you build a legacy!
                              </p>
                          </div>
                          <div class="service__link1">
                            <p><i class="fa-solid fa-arrow-right"></i></p>
                          </div>
                        </div>
                      </a>
  
                      <a href="/imageconsulting/">
                        <div class="service__item  animation_home1_service" data-service="3">
                          <div class="service__number text-dark"><span>03</span></div>
                          <div class="service__title-wrapper">
                            <h4 class="service__title text-dark">Image Consulting</h4>
                          </div>
                          <div class="service__text">
                            <p class="text-dark">Explore and learn about your own power of image and style, leverage it to the best use, while having
                              fun doing it.</p>
                          </div>
                          <div class="service__link1">
                            <p><i class="fa-solid fa-arrow-right"></i></p>
                          </div>
                        </div>
                      </a>
  
                      <a href="/corporaterebranding/">
                        <div class="service__item  animation_home1_service" data-service="4">
                          <div class="service__number text-dark"><span>04</span></div>
                          <div class="service__title-wrapper">
                            <h4 class="service__title text-dark">Corporate<br> Rebranding</h4>
                          </div>
                          <div class="service__text">
                            <p class="text-dark">We give your brand a refresh to keep up your brand with changes in the marketplace by tweaking
                              your brand’s existing assets.</p>
                          </div>
                          <div class="service__link1">
                            <p><i class="fa-solid fa-arrow-right"></i></p>
                          </div>
                        </div>
                      </a>
                      
                      <a href="/launchpad/">
                        <div class="service__item  animation_home1_service" data-service="5">
                          <div class="service__number text-dark"><span>05</span></div>
                          <div class="service__title-wrapper">
                            <h4 class="service__title text-dark">Launchpad</h4>
                          </div>
                          <div class="service__text">
                            <p class="text-dark">Launchpad is an initiative by <strong>MAGSMEN</strong> that provides entrepreneurs and businesses with
                              the necessary resources, support, and guidance to help establish and sustain themselves in
                              the market.</p>
                          </div>
                          <div class="service__link1">
                            <p><i class="fa-solid fa-arrow-right"></i></p>
                          </div>
                        </div>
                      </a>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </section>

        <!-- Service area end -->

        <!-- Testimonial area start -->
        <section class="testimonial__area-4 " style="background-color:#F3ECEC;">
          <div class="container g-0 line_4">
            <div class="line-col-4">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>

            <div class="row" >
              <div class="col-xxl-12">
                <!-- <div class="testimonial__sec-title text-anim">
                  <h3 class="sec-title-6 title-anim pt-5">Here's what our clients tell about us</h3>
                </div> -->
              </div>
              <div class="swiper testimonial__slider-4">
                <div class="testimonial__sec-title text-anim  pb-0" style="padding-top: 80px !important;">
                  <h3 class="sec-title-6 title-anim pt-5">Here's what our clients tell about us</h3>
                </div>
                <div class="swiper-wrapper" style="margin-top: -20px;"> 
                  <div class="swiper-slide testimonial__slide-4">
                    <div class="d-flex justify-content-center">
                      <img class="testimonial__img-4" src="{% static 'home/images/testimonial/tenali-double-horse-200x100.png' %}" alt="Testimonial Image">
                    </div>  
                    <div class="testimonial__info-4">
                      <h4 class="testimonial__feedback-44 testmoinail-cust-text">"Their strategy resulted in a new phase for Tenali Double Horse"</h4>
                      <p>We've hired Magsmen as our brand consultants in March 2021. Thanks to their wonderful
                        strategy on bringing a new phase to the brand. We've seen a whole new Tenali Double Horse, a
                        redefined vision for the brand. Their time management and transparency have been notable in
                        our association. It's been more than 1.5 years of journey and it was grand success so that we
                        are continuing our journey with them..</p>
                      <h5 class="testimonial__name-4 text-center">Krishna Prasad.N.V</h5>
                      <h6 class="testimonial__role-4 text-center">General Manager </h6>
                      <h6 class="testimonial__role-4 text-center">Tenali Double Horse </h6>
                    </div>
                  </div>
                  <div class="swiper-slide testimonial__slide-4">
                    <div class="d-flex justify-content-center">
                      <img class="testimonial__img-4" src="{% static 'home/images/testimonial/homepage-testimonial-telugufoods-168x168.png' %}" alt="Testimonial Image">
                    </div>  
                    <div class="testimonial__info-4">
                      <h4 class="testimonial__feedback-44 testmoinail-cust-text">"The best brand consultants we've travelled so far"</h4>
                      <p>Telugu Foods is a renowed brand in over 24+ countries with more than a million happy
                        customers. We hired Magsmen for brand consulting and help us in build a digital strategy for
                        Telugu Foods. We could see the quantifiable results in less than 2 months. Their tailored
                        approaches and practical strategies helped us launch combos across all the mediums, and
                        increased distribution leads, brand visibility and got more closer to our customers. Definitely
                        recommend them.</p>
                      <h5 class="testimonial__name-4 text-center">Nikitha Muvva</h5>
                      <h6 class="testimonial__role-4 text-center">Business Analyst</h6>
                      <h6 class="testimonial__role-4 text-center">Telugu Foods</h6>
                    </div>
                  </div>
                  <div class="swiper-slide testimonial__slide-4">
                    <div class="d-flex justify-content-center">
                      <img class="testimonial__img-4" src="{% static 'home/images/testimonial/xxx.png' %}" alt="Testimonial Image">
                    </div>  
                    <div class="testimonial__info-4">
                      <h4 class="testimonial__feedback-44 testmoinail-cust-text">"They showed us a new path to digitalise our brand"</h4>
                      <p>We are associated with Magsmen from the last two years. They helped our brand Triplex, a
                        pioneer in the detergent market from the last 30 years enter into digital space and proposed us
                        a digital strategy. Today, Triplex brand is seen everywhere and our distributors liked this move,
                        thus making us more closer with our consumers.</p>
                      <h5 class="testimonial__name-4 text-center">Manickavel</h5>
                      <h6 class="testimonial__role-4 text-center">Chairman & Managing Director</h6>
                      <h6 class="testimonial__role-4 text-center">Triplex</h6>
                    </div>
                  </div>
                  <div class="swiper-slide testimonial__slide-4">
                    <div class="d-flex justify-content-center">
                      <img class="testimonial__img-4" src="{% static 'home/images/testimonial/homepage-testimonial-vsb-168-150.png' %}"   alt="Testimonial Image">
                    </div>  
                    <div class="testimonial__info-4">
                      <h4 class="testimonial__feedback-44 testmoinail-cust-text">"Our external stakeholders from 45 countries loved our new brand look"</h4>
                      <p>Thanks to Magsmen. They've introduced the concept of brand architecture and a whole new
                        strategy for VSB. Starting with corporate Rebranding, we've experienced a new phase for VSB
                        Group with their impeccable initiatives on branding and also tailored strategy on linkedin which
                        have tripled our followers and also, external stakeholders have praised the new brand
                        management and professional product visuals.</p>
                      <h5 class="testimonial__name-4 text-center">Kranthi Kiran</h5>
                      <h6 class="testimonial__role-4 text-center">International Business Manager</h6>
                      <h6 class="testimonial__role-4 text-center">VSB Group</h6>
                    </div>
                  </div>
                  
                </div>
                <div class="testimonial__btn-4">
                  <div class="next-button swipper-btn"><i class="fa-solid fa-arrow-left"></i></div>
                  <div class="prev-button swipper-btn"><i class="fa-solid fa-arrow-right"></i></div>
                  <div class="pagination testimonial__pagination-4">
                    <div class="pag"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        

        <!-- Workflow area start -->
        <section class="workflow__area-3" >
          <div class="d-flex justify-content-center">
            <div class="scroll-down">
              <button  style="border: 1px solid black; padding:30px 10px; border-radius: 50px; -webkit-transition: all 0.3s; transition: all 0.3s;"><img src="{% static 'assets/imgs/icon/arrow-down-sm.png' %}" alt="arrow icon"></button>
            </div>
          </div>
          <div class="workflow__wrapper-3">
            <div class="choose-wrapper wf_panel" >
              <div class="container">
                <div class="row">
                  <div class="col-xxl-12" >
                    <div class="choose-title-wrapper">
                      <h2 class="choose-title title-anim">why <br> choose us</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="research__area wf_panel pt-150">
              <div class="container inner_content">
                <div class="row">
                  <div class="col-xxl-5 col-xl-5 col-lg-5">
                    <div>
                      <!-- <h2 class="sec-sub-title">why <br>choose us</h2> -->
                      <p>Brand reputation is at the heart of everything we do. With each project, we tap into the right
                        mix to turn challenges into opportunities and ideas into reality. From research to execution,
                        our full service toolkit powers stories that inform, inspire and light the way forward.
                      </p>
                    </div>
                    <div class="sec-title-wrapper">
                      <!-- <h2 class="sec-sub-title">why <br>choose us</h2> -->
                      <ul class="mylist">
                        <li>+ Long term strategy</li>
                        <li>+ Proven methodologies</li>
                        <li>+ Unbeatable brand track record</li>
                        <li>+ Award winning on brand strategy</li>
                        <li>+ Practical implementable roadmap for your brand</li>
                      </ul>
                      <!-- <h3 class="sec-title">Keword,Research Strategy, Survey, & Analytics</h3> -->
                      
                    </div>
                   
                    <ul class="research__tools p-2">
                      <li><a href="https://www.linkedin.com/company/magsmen/?originalSubdomain=in" target="_blank">Linkedin</a></li>
                      <li><a href="https://www.instagram.com/magsmenindia/" target="_blank">Instagram</a></li>
                      <li><a href="https://www.facebook.com/magsmenindia" target="_blank">FaceBook</a></li>
                      <li><a href="https://www.youtube.com/channel/UCG3agq3IYZmQifQeM2xFNbQ" target="_blank">YouTube</a></li>
                      <li><a href="https://twitter.com/magsmenindia" target="_blank">Twitter</a></li>
                    </ul>
                  </div>
                  <div class="col-xxl-7 col-xl-7 col-lg-7">
                    <div class="research__list">
                      <div class="research__item">
                        <div class="research__number">
                          <span>100%</span>
                        </div>
                        <div class="research__info">
                          <h4 class="research__title">Growth</h4>
                          <p>We identify opportunities for growth and customer transformation and look for a maximum impact.</p>
                        </div>
                      </div>

                      <div class="research__item">
                        <div class="research__number">
                          <span>85%</span>
                        </div>
                        <div class="research__info">
                          <h4 class="research__title">Performance</h4>
                          <p>We leverage performance based methods for brands to move from transactional moments to transformational relationships.</p>
                        </div>
                      </div>

                      <div class="research__item">
                        <div class="research__number">
                          <span>75%</span>
                        </div>
                        <div class="research__info">
                          <h4 class="research__title">Strategy</h4>
                          <p >We help brands keep a pulse on brand health, make million dollar advertising decisions and uncover growth strategy opportunities.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="counter__area-3 wf_panel">
              <div class="container">
                <div class="row">
                  <div class="col-xxl-12">
                    <div class="sec-title-wrapper">
                      <!-- <h2 class="sec-sub-title ">Why <br>Choose Us</h2> -->
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 pt-5">
                    <div class="counter__wrapper-3">
                      <div class="counter__item-3">
                        <h2 class="counter__number ">11</h2>
                        <p>Sectors<br></p>
                      </div>
                      <div class="counter__item-3">
                        <h2 class="counter__number">312+</h2>
                        <p>Brand Strategies Built</p>
                      </div>
                      <div class="counter__item-3">
                        <h2 class="counter__number">14</h2>
                        <p>Awards Achievement</p>
                      </div>
                      <div class="counter__item-3">
                        <h2 class="counter__number">412M</h2>
                        <p>Impressions Reached</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 pt-5">
                    <div class="counter__img-3 d-flex justify-content-center">
                      <video src="{% static 'home/images/magsmen.mp4' %}" loop muted autoplay playsinline height="400"></video>
                      <!-- <img src="{% static 'home/images/magsmen-odel-bg-image.gif' %}" alt="Counter Image"> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- CTA area start -->
            <div class="cta__area-3 wf_panel">
              <div class="container pt-150 pb-150">
                <div class="row">
                  <div class="col-xxl-12 mt-2">
                    <div class="cta__content-3">
                      <p class="cta__sub-title-2 pt-5">Get Started!</p>
                      <h2 class="pb-5" style="font-size:35px;">Assess your brand strength in 2 minutes!</h2>
                      <div id="btn_wrapper">
                        <a href="/questions/" class="wc-btn-black btn-hover btn-item"><span></span>Write to us<i class="fa-solid fa-arrow-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- CTA area end -->

          </div>
        </section>
        <!-- Workflow area end -->

        <!-- Blog area start -->
        <section class="blog__area-6 blog__animation" >
            <div class="container g-0 line pt-110 pb-110">
              <span class="line-130"></span>
              <div class="row pb-0">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                  <div class="sec-title-wrapper">
                    <h2 class="sec-title-2 animation__char_come pb-3">Resources</h2>
                  </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 ">
                  <div class="blog__text">
                    <p>Get a deeper understanding of various aspects a brand needs to have, according to our latest thinking </p>
                  </div>
                </div>
              </div>
  
              <!-- <div class="row reset-grid">
                {% for blogitem in blog_list %} 
                  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 pb-4">
                    <article class="blog__item">
                      <div class="blog__img-wrapper">
                        <a href="/blog/{{blogitem.Sluglink}}">
                          <div class="img-box">
                            <img class="image-box__item card-img-top" src="/media/{{blogitem.Image1}}" alt="Blog Thumbnail">
                            <img class="image-box__item" src="/media/{{blogitem.Image1}}" alt="BLog Thumbnail">
                          </div>
                        </a>
                      </div>
                      <h4 class="blog__meta"><a href="#">{{blogitem.Create_at}}</a> | {{blogitem.CreatedName}} </h4>
                      <h6 style="display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;"><a href="/blog/{{blogitem.Sluglink}}" class="blog__title">{{blogitem.Title}}</a></h6>
                      <a href="/blog/{{blogitem.Sluglink}}" class="blog__btn">Read More <span><i
                            class="fa-solid fa-arrow-right"></i></span></a>
                    </article>
                  </div>
                {% endfor %}
              </div> -->
              <!-- dummy -->
              <div class="row reset-grid pb-4 pt-5">
                {% for blogitem in blog_list %} 
                  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 pb-4">
                    <div class="card">
                      <img src="/media/{{blogitem.Image1}}" class="card-img-top image-box__item" alt="...">
                      <div class="card-body">
                        <h6 class="card-title">{{blogitem.Create_at}}</a> | {{blogitem.CreatedName}}</h6>
                        <h5 class="card-title">{{blogitem.Title}}</h5>
                        <p class="card-text"></p>
                        <a href="/blog/{{blogitem.Sluglink}}" class="blog__btn">Read More <span><i
                          class="fa-solid fa-arrow-right"></i></span></a>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
               <!-- enddummy -->
              <div class="row ">
                <div class="col-xxl-12 d-flex justify-content-center">
                  <div class="sec-title-wrapper ">
                    <div id="btn_wrapper">
                      <a href="/ideas/" class="wc-btn-black btn-hover btn-item"><span></span>More Blogs<i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    <!-- <div id="btn_wrapper">
                      <a href="/blogs/" style="text-align: center;" class="wc-btn-primary btn-hover btn-item bg-dark text-light"><span></span>More Blogs <i
                          class="fa-solid fa-arrow-right"></i></a>
                    </div> -->
                  </div>
                </div>
              </div>
              
            </div>
          </section>
       

      </main>
{% endblock %}