{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}



<div id="smooth-wrapper">
    <div id="smooth-content">
      <main>

        <!-- Development area start -->
        <section class="development__area">
          <div class="container g-0 line pt-130 pb-150">
            <div class="line-3"></div>
            <div class="row">
              <div class="col-xxl-4 col-xl-4 col-lg-5 col-md-5">
                <div class="sec-title-wrapper">
                  <h2 class="sec-title animation__char_come">Lanchpad
                  </h2>
                </div>
              </div>
              <div class="col-xxl-8 col-xl-7 col-lg-8 col-md-7">
                <div class="development__wrapper">
                  <div class="development__content1">
                    <p>Launchpad is an initiative by MAGSMEN that provides entrepreneurs and businesses with
                        the necessary resources, support, and guidance to help establish and sustain themselves in
                        the market. At Launchpad, we believe in investing in the ventures we incubate, and our
                        investment decisions are based on a rigorous evaluation process that takes into account
                        various factors such as market potential, team capabilities, and financial viability. We are
                        committed to helping you achieve your business goals, and our investment is a testament to
                        that commitment.</p>
                  </div>
                
                </div>
              </div>
              <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                <div class="development__img d-flex justify-content-center">
                  <div class="hero__about-video px-3">
                    <video loop muted autoplay playsinline>
                      <source src="{% static 'assets/imgs/service/service/magsmen-corporate-rebranding-consulting-service-850x400.mp4' %}"  type="video/mp4" alt="video not display">
                    </video>
                  </div>
                
                </div>
              </div>
              
            </div>
            <div class="row">  
              <div class="col-xxl-8 col-xl-10 offset-xxl-2 offset-xl-1">
                <div class="blog__detail-content">
                  <h3>Here’s what you get if you are launching your idea with Launchpad</h3>
                  <ul>
                    <li>Quality Mentorship</li>
                    <li>International Networking</li>
                    <li>Business Consultation</li>
                    <li>Business Consultation</li>
                    <li>Financial Planning</li>
                  </ul>
                <h3 >Here’s how it works - <strong>Sharing risks and rewards with you!</strong></h3>
                <div style="margin-left: 25px;">
                    <ul class="how_works">
                        <li>To participate in Launchpad, Magsmen offers an attractive proposition for
                            entrepreneurs and businesses by taking a stake in their ventures without charging
                            any fees. This means that we share the risk and rewards with you, and our success
                            is linked to your success. We believe that this aligns our interests and helps us work
                            together towards a common goal.</li>
                        <li>Our stake in your venture is a testament to our confidence in your business and our
                            commitment to help you achieve your goals. We are not just another service
                            provider, but a partner in your journey. Our investment in your venture means that
                            we have a vested interest in its success, and we work tirelessly to help you achieve
                            that success.</li>
                        <li>We understand that taking an equity stake in your venture is a big decision, and that
                            is why we ensure that our evaluation process is rigorous, transparent and fair. We
                            assess each venture on its own merit and take into account various factors such as
                            market potential, team capabilities, and financial viability.</li>
                      </ul>
                </div>
                <p>At Magsmen, we are committed to building long-term relationships with our clients, and our
                    stake in your venture is a reflection of that commitment. We believe that by sharing the risk
                    and rewards with you, we can work together to create value and achieve success.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Development area end -->

            


       

      </main>

{% endblock %}