{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}

<div id="smooth-wrapper">
    <div id="smooth-content">
        <main>
            
        <!-- Team area start -->
        <section class="about__area">
            <div class="container pt-140 pb-110">
              <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                  <div class="about__img" >
                    <img src="{% static 'assets/imgs/about/3/1.jpg' %}" alt="About Thumbnail" data-speed="auto">
                  </div>
                </div>
  
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                 <div class="d-flex aligen-items-center justify-content-center pt-5">
                    <div style="padding-top: 100px;">
                        <div class="sec-title-wrapper">
                            <h2 class="team__member-name-7 animation__char_come">our  <br>services</h2>
                        </div>
                        <div class="sec-text-wrapper">
                            <div class="sec-text text-anim about-text">
                                <p>We understand that Consumer experience is higher than ever and the business
                                    landscape is constantly evolving. We work with brands as a true strategic partner,
                                    applying rigorous standards and creativity to unlock breakthrough insights about
                                    your brand, customer, category and the evolving culture in which you operate!.</p>
                            
                            </div>
                        </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </section>
        <!-- <section class="team__detail">
          <div class="container line pb-140">
            <div class="line-3"></div>
            <div class="row">
                
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-8 offset-lg-0 offset-md-2 mt-5">
                <div class="team__member-img">
                  <img src="{% static 'assets/imgs/services-img/dummy.png' %}" alt="Team Member Picture" data-speed="0.5">
                </div>
              </div>
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12">
                <div class="sec-title-wrapper pt-120">
                  <h2 class="team__member-name-7 animation__char_come">our  <br>services</h2>
                  
                  <p>We understand that Consumer experience is higher than ever and the business
                    landscape is constantly evolving. We work with brands as a true strategic partner,
                    applying rigorous standards and creativity to unlock breakthrough insights about
                    your brand, customer, category and the evolving culture in which you operate!.</p>
                </div>
              </div>
            </div>
          </div>
        </section> -->
        <!-- Team area end -->
        <section class="portfolio__service service-v5 pt-140 pb-140">
            <div class="container">
              <div class="portfolio__service-list">
                <div class="row">
                  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                    <div class="portfolio__service-item">
                      <a href="/brandconsulting/">
                        <h3 class="ps-title">Brand Consulting</h3>
                        <p>work with brands as a true strategic partner, applying rigorous standards and creative ingenuity
                        to build it up
                        </p>
                      </a>
                    </div>
                  </div>
                  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                    <div class="portfolio__service-item">
                      <a href="/personalbrand/">
                        <h3 class="ps-title">Personal Brand Consulting </h3>
                        <p style="margin-top: -20px;">We help an individual understand which platforms are best for their business and how to use
                            them to reach their target audience. Don’t just build a brand..!
                        </p>
                      </a>
                    </div>
                  </div>
                  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                    <div class="portfolio__service-item">
                      <a href="/imageconsulting/">
                        <h3 class="ps-title">Image Consulting</h3>
                        <p>Explore and learn about your own power of image and style, leverage it to the best use, while having
                            fun doing it.
                        </p>
                      </a>
                    </div>
                  </div>
                  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                    <div class="portfolio__service-item">
                      <a href="/corporaterebranding/">
                        <h3 class="ps-title">Corporate Rebranding</h3>
                        <p>We give your brand a refresh to keep up your brand with changes in the marketplace by tweaking
                            your brand’s existing assets.                     
                        </p>
                      </a>
                    </div>
                  </div>
                  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                    <div class="portfolio__service-item">
                      <a href="#">
                        <h3 class="ps-title">Startup Brand Partnership</h3>
                        <p>We create, products, brands, apps & websites for the companies all around the world class
                            digital
                            products
                        </p>
                      </a>
                    </div>
                  </div>
                 
                </div>
              </div>
            </div>
          </section>
  
  
           
        </main>

{% endblock %}